/*styling.css*/
html{
    height: 100%;
    background-image: url(Holographic.jpg);
}
#container{
    height: 600px;
    width: 750px;
    background-color: #faedcd;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px auto;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 4px 0px 0px #faedcd;
    -moz-box-shadow: 0px 4px 0px 0px #faedcd;
    -webkit-box-shadow: 0px 4px 0px 0px #faedcd;
    position: relative;
}

#score{
    background-color: #d4a373;
    color: #faedcd;
    padding: 11px;
    position: absolute;
    left: 700px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px #d4a373;
    -moz-box-shadow: 0px 4px 0px #d4a373;
    -webkit-box-shadow: 0px 4px 0px #d4a373;
}



#wrong{
    position: absolute;
    left: 250px;
    background-color: #f08080;
    color: #fff;
    padding: 11px;
    display: none;
}

#fruitsContainer{
    width: 650px;
    height: 400px;
    margin: 50px auto 10px auto;
    background-color: #fefae0;
    box-shadow: 0px 4px #faedcd;
    -moz-box-shadow: 0px 4px #faedcd;
    -webkit-box-shadow: 0px 4px #faedcd;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: #d4a373;
    position: relative;
    overflow: hidden;
}

#instruction{
    width: 450px;
    height: 50px;
    background-color: #e9edc9;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
    line-height: 45px;
    box-shadow: 0px 4px #e9edc9;
    -moz-box-shadow: 0px 4px #e9edc9;
    -webkit-box-shadow: 0px 4px #e9edc9;
}

#choices{
    width: 450px;
    height: 100px;
    margin: 5px auto;
    border-radius: 20px;
}

.box{
    width: 85px;
    height: 85px;
    background-color: #fefae0;
    float: left;
    margin-right: 36px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.box:hover, #startreset:hover{
    background-color: #f0e68c;
    color: #6b8e23;
    border-radius: 15px;
    box-shadow: 0px 4px #6b8e23;
    -moz-box-shadow: 0px 4px #6b8e23;
    -webkit-box-shadow: 0px 4px #6b8e23;
}

.box:active, #startreset:active{
    background-color: #f08080;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px #f08080;
    -moz-box-shadow: 0px 0px #f08080;
    -webkit-box-shadow: 0px 0px #f08080;
    top: 4px;
}

#box4{
    margin-right: 0;   
}

#startreset{
    width: 78px;
    padding: 10px;
    background-color: rgba(225, 225, 225, 0.227);
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

#trialsLeft{
    width: 80px;
    padding: 10px;
    position: absolute;
    background-color: #F1FF92;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    display: none;
}

#gameOver {
    min-width: 500px;
    width: 60%;
    background: linear-gradient(#F3CA6B, #F3706C);
    background: -webkit-linear-gradient(#F3CA6B, #F3706C);
    background: -o-linear-gradient(#F3CA6B, #F3706C);
    background: -moz-linear-gradient(#F3CA6B, #F3706C);
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}

.life{
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.fruit{
    display: none;
    position: absolute;
}